{% load static %}
<br>

<ul class="list-group">
    <li class="list-group-item active">Manu:</li>
    <li><a href="/ProfileApp/Home" class="list-group-item list-group-item-active">หน้าหลัก</a></li>
    <li><a href="/ProfileApp/edu" class="list-group-item list-group-item-active">ประวัตการศึกษา</a></li>
    <li><a href="/ProfileApp/interest" class="list-group-item list-group-item-active">สิ่งที่สนใจ</a></li>
    <li><a href="/ProfileApp/rolemodel" class="list-group-item list-group-item-active">บุคคลต้นแบบ</a></li>
    <li><a href="/ProfileApp/product" class="list-group-item list-group-item-active">สินค้า</a></li>
    <li><a href="/ProfileApp/showdata" class="list-group-item list-group-item-active">showdata</a></li>

</ul>
</br>